* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 48px;
}

.grid {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

.div1 {
    grid-row: 1 / 3;
    background-color: cadetblue;
    display: grid;
}

.div4 {
    grid-column: 2 / 4;
    background-color: lemonchiffon;
}

.div5 {
    grid-column: 1 / -1;
    background-color: darkmagenta;
}

@media screen and (max-width: 900px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
    }

    .grid > div {
        grid-column: 1;

    }
}

.couleurs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 150px; /* Toutes mes lignes feront 150px */
    gap: 30px;
    grid-auto-flow: dense;
}

.blue {
    background-color: blue;
    grid-column: 1;
}

.red {
    background-color: red;
    grid-column: 2;
}

.green {
    background-color: green;
    grid-column: 3;
}

.blog {
    display: grid;
    grid-template-columns: 2fr 1fr;
   /* grid-template-rows: 100px; */
    grid-template-areas: "navbar navbar"
                         "article sidebar";
    font-size: 18px;
}

.blog p {
    font-size: 18px;
}

nav {
    background-color: #5f5f5f;
    grid-area: navbar;
    height: 100px;

}

article {
    padding: 40px;
    background-color: antiquewhite;
}

aside {
    background-color: lightgray;
}

@media screen and (max-width: 900px) {
    .blog {
        grid-template-columns: 1fr;
        grid-template-areas: "navbar"
                             "article"
                             "aside";
    }
}

.blog2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 18px;
}

.blog2 p {
    font-size: 18px;
}


.blog2 nav {
    grid-column: 1 / 3;
    grid-row: 1;
}

@media screen and (max-width: 900px) {
    .blog2 {
        grid-template-columns: 1fr;
    }

    .blog2 > * {
        grid-column: 1 / -1;
    }
}

.cols {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    /*grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));*/
    grid-auto-rows: 250px;
    justify-content: space-around;
}

.cols > div {
    background-color: lightpink;
}

.cols > div:nth-child(odd) {
    background-color: lightseagreen;
}